extends layout

block content
  h1= title

  script(type='text/javascript').
    function login() {
      console.log('login')
      window.location.href = '/login';
    };

    function logout() {
      console.log('logout')
      window.location.href = '/logout';
    };

  p Welcome to #{title}

  button(type='button', onclick='login()' ) login
  button(type='button', onclick='logout()' ) logout
